body {
  padding: 0;
  margin: 0;
}
html, body, #mapP {
  height: 100%;
}

a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}
p {
  margin: 0;
}

#mapP {
  position: relative;
}

#filtres {
  position: absolute;
  bottom: 0px;
  height: 150px;
  width: 100%;
  background-color: white;
  display: none; /* Affichage sur clic OpenLink */
}

/* Les filtres ! Tout ce qui commence par "filt" concerne les filtres (oui oui) */
form {
  height: 100%;
  width: 100%;
  text-align: center;
}
#filt_Close {
  position: absolute;
  top: 2px;
  right: 2px;
  color: gray;
  font-size: 95%;
  font-family: "PT Sans", sans-serif;
}
#filt_About {
  position: absolute;
  bottom: 2px;
  right: 2px;
  color: gray;
  font-size: 95%;
  font-family: "PT Sans", sans-serif;
}
#filt_Open {
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  clear: both;
  color: rgb(51, 51, 51);
  cursor: auto;
  display: block;
  float: right;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* height: 16px;
  line-height: 16.5px; */
  margin: 0px;
  padding: 0px 5px;
  pointer-events: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 7;
}
#filt_FormSpaceButton {
  position: absolute;
  right: 2px;
  top: 20px;
  height: 110px;
  margin-left: 15px;
}
.filt_FormContent {
  margin: 25px 8px;
  text-align: center;
  display: inline-block;
  height: 100px;
  vertical-align: top;
  line-height: 45px;
}
.filt_FormChoixSection label {
   position: relative;
   width: 64px;
   margin-left: 2px;
}
.filt_TextSection {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 64px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.66);
  font-family: "PT Sans", sans-serif;
  padding: 1px 0;
  z-index: 5;
  height: 18px;
  line-height: 18px;
}
.filt_FormChoixSection label > input{
  display:none;
}
.filt_FormChoixSection label > input + div + img{
  cursor:pointer;
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -ms-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}
.filt_FormChoixSection label > input:checked + div + img {
  opacity: 1;
}
.filt_FormChoixSection label > input:not(:checked) + div + img {
  opacity: 0.33;
}
output {
  display: block;
  font-size: 90%;
  font-style: italic;
}
.ui-widget-header {
  background: rgb(0, 156, 221);
}
.highlightNumber {
  color: rgb(0, 74, 117);
  font-weight: bold;
}
