.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

/* Cluster Polytech */
.polyCluster {
	background-image: url('../files/polytech.png');
	background-repeat: no-repeat;
	background-position: top;
	text-align: center;
	font-size: 125%;
	padding-top: 9px;
	width: 40px;
	height: 40px;
	overflow: hidden;
}

/* Cluster par défaut : propriétés globales */
.marker-cluster {
	border-radius: 20px;
}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
	line-height: 30px;
}

/* Clusters par défaut : propriétés par taille */
.marker-cluster-small {
	background-image: url('../files/polytech.png');
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 0px;
}
.marker-cluster-small div {
	font-size: 95%;
}
.marker-cluster-medium {
	background-image: url('../files/polytech.png');
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 0px;
}
.marker-cluster-medium div {
	font-weight: bold;
}
.marker-cluster-large {
	background-image: url('../files/polytech.png');
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 0px;
}
.marker-cluster-large div {
	font-size: 125%;
	font-weight: bold;
}

	/* Compatiblité IE 6-8 (lol) */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
}
.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
}
.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}
